<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<!-- 공지사항&배너 -->
<div class="row" style="margin-bottom: 20px;">
  <div class=" notice_main" style="float: left;">
    <div class="notice_ttxt_area">
      <span class="notice_ttxt">공지사항</span>
      <span class="notice_more"><a href="/about"><img src="/static/images/more.gif"></a></span>
    </div>

    <div class="notice_list">
      <ul>
        <li>
          <div class="notice_stxt_area">
                                <span class="notice_stxt">
                                <a href="#">[대학뉴스] 한성대학교 ‘4차 산업혁명, 나의 직장생활은</a>
                                </span>
            <span class="notice_date">2018-09-04</span>
          </div>
        </li>
        <li>
          <div class="notice_stxt_area">
                                <span class="notice_stxt">
                                <a href="#">[대학뉴스] 한성대학교 ‘4차 산업혁명, 나의 직장생활은</a>
                                </span>
            <span class="notice_date">2018-09-04</span>
          </div>
        </li>
        <li>
          <div class="notice_stxt_area">
                                <span class="notice_stxt">
                                <a href="#">[대학뉴스] 한성대학교 ‘4차 산업혁명, 나의 직장생활은</a>
                                </span>
            <span class="notice_date">2018-09-04</span>
          </div>
        </li>
        <li>
          <div class="notice_stxt_area">
                                <span class="notice_stxt">
                                <a href="#">[대학뉴스] 한성대학교 ‘4차 산업혁명, 나의 직장생활은</a>
                                </span>
            <span class="notice_date">2018-09-04</span>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="main_banner">
    <div class="slider">
      <div class="slide_viewer">
        <div class="slide_group" style="left: 0px;">
          <div class="slide" style="display: block; left: 0px;">
            <img src="/asset-v1:edX+DemoX+Demo_Course+type@asset+block@images_course_image.jpg">
          </div>
          <div class="slide" style="display: none; left: 0px;">
            <img src="/asset-v1:edX+DemoX+Demo_Course+type@asset+block@images_course_image.jpg">
          </div>
          <div class="slide" style="display: none; left: 0px;">
            <img src="/asset-v1:edX+DemoX+Demo_Course+type@asset+block@images_course_image.jpg">
          </div>
          <div class="slide" style="display: none; left: 0px;">
            <img src="/asset-v1:edX+DemoX+Demo_Course+type@asset+block@images_course_image.jpg">
          </div>
        </div>

        <div class="slide_buttons">

        </div>
        <div class="directional_nav">
          <div class="previous_btn" title="Previous">
            <svg x="0px" y="0px" width="65px" height="40px" viewBox="-11 -11.5 65 66" style="background: #333;" >
              <g>
                <g>

                  <path fill="#ffffff" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0 c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564  c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="next_btn" title="Next">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="40px" viewBox="-11 -11.5 65 66" style="background: #333;">
              <g>
                <g style="background:#efefef;">

                  <path fill="#ffffff" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035      L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"></path>
                </g>
              </g>
            </svg>
          </div>
        </div><!-- End // .directional_nav -->


      </div>
    </div><!-- End // .slider -->

    <script>$('.slider').each(function() {
      var $this = $(this);
      var $group = $this.find('.slide_group');
      var $slides = $this.find('.slide');
      var bulletArray = [];
      var currentIndex = 0;
      var timeout;


      function move(newIndex) {
        var animateLeft, slideLeft;

        advance();

        if ($group.is(':animated') || currentIndex === newIndex) {
          return;
        }

        bulletArray[currentIndex].removeClass('active');
        bulletArray[newIndex].addClass('active');

        if (newIndex > currentIndex) {
          slideLeft = '100%';
          animateLeft = '-100%';
        } else {
          slideLeft = '-100%';
          animateLeft = '100%';
        }

        $slides.eq(newIndex).css({
          display: 'block',
          left: slideLeft
        });
        $group.animate({
          left: animateLeft
        }, function() {
          $slides.eq(currentIndex).css({
            display: 'none'
          });
          $slides.eq(newIndex).css({
            left: 0
          });
          $group.css({
            left: 0
          });
          currentIndex = newIndex;
        });
      }

      function advance() {
        clearTimeout(timeout);
        timeout = setTimeout(function() {
          if (currentIndex < ($slides.length - 1)) {
            move(currentIndex + 1);
          } else {
            move(0);
          }
        }, 4000);
      }

      $('.next_btn').on('click', function() {
        if (currentIndex < ($slides.length - 1)) {
          move(currentIndex + 1);
        } else {
          move(0);
        }
      });

      $('.previous_btn').on('click', function() {
        if (currentIndex !== 0) {
          move(currentIndex - 1);
        } else {
          move(3);
        }
      });

      $.each($slides, function(index) {
        var $button = $('<a class="slide_btn" id=test'+index+'>test4</a>');
        $('#test0').text('test1');
        $('#test1').text('test2');
        $('#test2').text('test3');



        if (index === currentIndex) {
          $button.addClass('active');
        }
        $button.on('click', function() {
          move(index);
        }).appendTo('.slide_buttons');
        bulletArray.push($button);
      });

      advance();
    });
    //# sourceURL=pen.js
    </script>

    <script type="text/javascript">
      function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>

  </div>
</div>

<section class="courses-container">
  <section class="highlighted-courses">

    <span style="margin-top: 10px;margin-bottom: 10px; display: inline-block; width: 100%;">
      <span style="font-size: 20px; font-weight: bold;">전체강좌</span>
      <span style="float: right; font-size: 15px;"><a href="./dashboard">더보기</a></span>
    </span>

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for idx, course in enumerate(courses):
          %if idx < 4:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
          %endif
        %endfor
        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>

<!-- 오늘의 추천강좌 s -->
<section class="courses-container">
  <section class="highlighted-courses">

    <span style="margin-top: 10px;margin-bottom: 10px; display: inline-block; width: 100%;">
      <span style="font-size: 20px; font-weight: bold;">오늘의 추천강좌</span>
      <span style="float: right; font-size: 15px;"><a href="./dashboard">더보기</a></span>
    </span>

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for idx, course in enumerate(courses):
          %if idx < 4:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
          %endif
        %endfor
        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>
<!-- 오늘의 추천강좌 e -->