* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #242c38;
    font-family: 'Roboto';
    font-size: 62.5%;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    width: 0;
}


a {
    color: #00c5b9;
    text-decoration: none;
}

h1 {
    color: #FFF;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    font-size: 2.4em;
}

/** ---------------------------------------
 * Slider 
 ----------------------------------------*/
.container {
    width: 800px;
    margin: 40px auto 0;
}

.slider-wrapper {
    z-index: 500;
    position: relative;
    /*	width: 100%;*/
    height: 224px;
    background: #FFF;
    /*	border: 5px solid #4b5973;*/
    overflow: hidden;
}

.slider-wrapper li {
    display: none;
}

.slider-wrapper .current-slide {
    display: block;
}

.slider-shadow {
    width: 100%;
    height: 15px;
    position: relative;
}

.slider-shadow:after, .slider-shadow:before {
    content: '';
    position: absolute;
    background: #171c24;
    height: 100%;
    width: 50%;
    left: 10px;
    top: -20px;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -webkit-box-shadow: 0 0 15px 8px #171c24;
    box-shadow: 0 0 15px 8px #171c24;
}

.slider-shadow:before {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
}

.slider-wrapper img {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

/**
 * ---[Caption] ---------------------- 
 **/
.slider-wrapper .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.65);
    width: 100%;
    padding: 10px;
    color: #FFF;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


.slider-wrapper h2 {
    color: #00c5b9;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 6px;
}

.slider-wrapper p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4em;
}

/**
 * ---[Botones-Control] ---------------------- 
 **/
.control-buttons {
    margin-top: 15px;
    text-align: center;
}

.control-buttons li {
    cursor: pointer;
    display: inline-block;
    background: #424f66;
    text-indent: -99999px;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.control-buttons li.active {
    background: #00c5b9;
}

.authors {
    text-align: center;
    color: #7a8699;
    display: block;
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 80px;
    font-size: 300;
}

/** ---------------------------------------
 * Responsive 
 ----------------------------------------*/
@media only screen and (max-width: 825px) {
    .container {
        width: 500px;
    }

    .slider-wrapper {
        height: 260px;
    }
}

@media only screen and (max-width: 535px) {
    .container {
        padding: 5px;
        width: 100%;
        margin: 40px 0 0 0;
    }

    .slider-wrapper {
        height: 200px;
    }

    .slider-wrapper .caption {
        display: none;
    }

}

@media only screen and (max-width: 410px) {
    .slider-wrapper {
        height: 160px;
    }
}


/* 20180928 */
.header-logo-area {max-width: 75rem; margin: 0 auto; padding: 0 105px;}
.header-logo-area .global-header .header-logo{display:inline}
.header-logo-area .global-header .header-logo a{float:left; margin: 15px 0 8px 0px; display:block;}
.header-logo-area .global-header .header-logo a .logo{float:left;height:40px}

.global-header .header-logo a{float:left; margin:15px 0 8px 0px; display:block}

.g_menu{float: right; margin-top: 25px;}
.g_menu li{display: inline; margin-right: 25px;}
.g_menu li:last-child{margin-right: 0px;}
.g_menu li a {font-weight: bold; color: #636363;}

.content-wrapper{max-width: 75rem; margin: 0 auto;}

.video_bg_blue {background: #299bff !important; color: #fff !important;}
.video_bg_green{background: #008800; color: #fff !important;}

/* 기존 css */
.courses-container .courses .course .course-image .cover-image {
    height: 158px;
    overflow: hidden;
}
.courses-container .courses .course .course-info .course-title {
    line-height: 23.68px;
    margin: 5px 0 8px 0;
    padding: 0 15px;
    height: 72px;
    color: #353535;
    font-size: 16px;
    font-weight: bold;
}
.courses-container .courses .course .course-image .cover-image img {
    width: 100%;
    height: 100%;
}

.highlighted-courses .courses, .find-courses .courses {
    padding: 0px;
}

/* 공지사항 */
.notice_main {
    padding: 16px !important;
    border: 1px solid #eee;
    width: 50%;
}

.notice_main > .notice_ttxt_area {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 14px;
}

.notice_main > .notice_ttxt_area > .notice_ttxt {
    line-height: 25px;
}

.notice_main > .notice_ttxt_area > .notice_more {
    float: right;
}

.notice_main > .notice_list > ul {
    margin-left: 20px;
    padding-left: 0px;
}

.notice_main > .notice_list > ul > li {
    margin-bottom: 20px;
    width: 100%;
}

.notice_main > .notice_list > ul > li > .notice_stxt_area {
    display: flex;
    align-items: stretch;
}

.notice_main > .notice_list > ul > li > .notice_stxt_area > .notice_stxt {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 88%;
    overflow: hidden;
    display: inline-block;
}

.notice_main > .notice_list > ul > li > .notice_stxt_area > .notice_stxt > a {
    cursor: pointer;
}

.notice_main > .notice_list > ul > li > .notice_stxt_area > .notice_date {
    float: right;
    white-space: nowrap;
    display: inline-block;
}

.notice_main > .notice_list > ul > li:last-child {
    margin-bottom: 0px;
}


/* ///.///////////slider////////////// */
.main_banner{display: inline-block;
    width: 50%;}

.slider {
    margin: 0 auto;
    max-width: 940px;
}

.slide_viewer {
    height: 225px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide img {width: 100%; height: 100%;}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #D7A151;
}

.slide:nth-of-type(2) {
    background: #F4E4CD;
}

.slide:nth-of-type(3) {
    background: #C75534;
}

.slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    z-index: 5;
    bottom: 45px;
    display: flex;
    justify-content: space-between;
    height: 45px;
    background: rgba(0,0,0,0.3);
    padding: 0 40px;
}

.slide_buttons a {
    text-align: -webkit-match-parent;
}

a.slide_btn {
    color: #e8e8e8;
    font-size: 18px;
    margin: 0 0.1em;
    line-height: 38px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #fff;
    cursor: pointer;
    text-decoration:none;
}

.directional_nav {
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -189px;
}

.previous_btn {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;

    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;

}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 0;
    }
    .next_btn {
        right: 0;
    }
    .slide_buttons {
        padding: 0 10px;
    }

}




/* 반응형 */
@media (max-width: 991px){
    .global-header .header-logo a {bottom: 1px !important; margin-left:50%;}
    .g_menu{display: none;}
}

@media (min-width: 768px){
    .content-wrapper {padding: 20px 20px 10px;}
}


@media (max-width: 991px) {
    .global-header .header-logo a {
        margin-left: 50%;
        height: 40px;
        width: auto;
        bottom: 18px;
        position: relative;
    }
}

@media (min-width: 992px){
    .global-header .nav-links .secondary{
        float:right;
        width:100%;
        background: #4587c2;
    }

    .global-header .nav-links .secondary .nav-item{
        font-size:1rem;
        display:inline-block;
        padding:5px 0 5px;
        margin:0px;
    }

    .global-header .nav-links .secondary a.sign-in-btn,.global-header .nav-links .secondary .nav-item a.shopping-cart{
        color: #fff;
        display: inline-block;
        position: relative;
        font-size: 0.750rem;
        padding: 4px 6px;
        font-weight: bold;
    }
    .global-header .nav-links .secondary a.register-btn{
        color: #fff;
        display: inline-block;
        position: relative;
        font-size: 0.750rem;
        padding: 4px 6px;
        font-weight: bold;
    }

}
.courses-container .courses .course .course-info .course-organization{
    line-height:16.28px;
    padding:10px;
    text-align: right;
}

